<section class=" job-bg ad-details-page">
		<div class="container">
	  
		  <div class="breadcrumb-section">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
			  <li>
				<a routerLink="/home">Home</a>
			  </li>
			  <li>About Us </li>
			</ol>
			<!-- breadcrumb -->
			<h2 class="title">About Us</h2>
		  </div>
		  <!-- banner -->
	  
		  <div class="job-postdetails post-resume">
			  
			<div class="row">
			  <div class="col-md-8 clearfix">
				
				  <fieldset>
					  
					
	  
					<div class="section career-objective">
					  
					  <div class="form-group">
							<div class="job-postdetails">
							<div class="section job-postdetails">
									<div class="description-info">
										<h1>Our primary Mission:</h1>
										<p>Our primary mission is to be a trustworthy partner, building sustainable long-term partnerships. We strive to excel
											ensuring Client Satisfaction, Professionalism, Superior Quality and Innovation.</p>
		
									</div>
									<div class="responsibilities">
										<h1>Positioning Demo</h1>
										<p>
											We are proud of our reputation as a leading IT Services Provider, which has stood us in good stead for over 40 years since
											our incorporation in August 1973. Our primary business objective is to be a valuable partner to our customers and
											this has not changed over the years as we grew from a data processing center to an information technology services
											company. Demo is the brand name of Demo International and its subsidiaries. Its flagship
											company is headquartered in Chennai, India and all software development and delivery capabilities are based here.
											We have key markets across the globe that includes Australia, India, the United Kingdom, Ireland, the United States
											and Canada. Demo is an established and very successful business enterprise providing information technology consulting,
											technology services and outsourcing solutions. Demo has created an exemplary track record of providing IT services
											and is one of the first few early pioneers who were instrumental in setting up the onsite, offsite and offshore
											delivery approach.
									</div>
		
								</div>
							</div>
						 
					  </div>
					 
					</div>				
				  </fieldset>
				
				<!-- form -->				
			  </div>
			 
			  <!-- quick-rules -->
			  <div class="col-md-4">
					<div class="section quick-rules">
							<h1>Company Info</h1>
							<ul>
								<li>Company Name:
									<a >Demo Inc</a>
								</li>
								<li>Address: London, United Kingdom</li>
								<li>Company Size: 2k Employee</li>
								<li>Industry:
									<a >Technology</a>
								</li>
								<li>Phone: 9851723923</li>
								
								<li>Website:
									<a routerLink="/about">www.demo.com</a>
								</li>
							</ul>
							<ul class="share-social">
								<li>
									<a routerLink="/about">
										<i class="fa fa-facebook-official" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a routerLink="/about">
										<i class="fa fa-twitter-square" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a routerLink="/about">
										<i class="fa fa-google-plus-square" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a routerLink="/about">
										<i class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
					</div>
	
			  </div>
			  <!-- quick-rules -->
			</div>
			<!-- photos-ad -->
		  </div>
		</div>
		<!-- <div>Value: {{ postresumeForm.value | json }}</div> -->
		
		<!-- container -->
	  </section>










































































