<section class=" job-bg ad-details-page">
		<div class="container">
	  
		  <div class="breadcrumb-section">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
			  <li>
				<a routerLink="/home">Home</a>
			  </li>
			  <li>Contact us</li>
			</ol>
			<!-- breadcrumb -->
			<h2 class="title">Contact us</h2>
		  </div>
		  <!-- banner -->
	  
		  <div class="job-postdetails post-resume">
			  
			<div class="row">
			  <div class="col-md-8 clearfix">
				
				  <fieldset>
					  
					
	  
					<div class="section career-objective">
					  
					  <div class="form-group">
							<div class="job-postdetails">
							<div class="section job-postdetails">
									<div class="description-info">
											<h1>Business Enquiries</h1>
											<p>
												All our global offices work Monday - Friday, 9:00AM to 6:00PM local time.<br>
												 Offices will be closed on all weekends and on local
												statutory holidays.</p>
			
											<p>
												<b> UK & Europe IT Services Sales:</b> 9851723923</p>
												
											
										
											<h1>Email Addresses</h1>
											<p>
												<b> General Enquiries:</b>demo@demo.com</p>		
											
		
									</div>
									
		
								</div>
							</div>
						 
					  </div>
					 
					</div>				
				  </fieldset>
				
				<!-- form -->				
			  </div>
			 
			  <!-- quick-rules -->
			  <div class="col-md-4">
					<div class="section quick-rules">
							<h1>Company Info</h1>
							<ul>
								<li>Company Name:
									<a >Demo Inc</a>
								</li>
								<li>Address: London, United Kingdom</li>
								<li>Address:Chennai,India
									</li>
									
								<li>Company Size: 2k Employee</li>
								<li>Industry:
									<a >Technology</a>
								</li>
								<li>Cell: + 9851723923</li>
								<li>Phone: +047-1723923</li>
								
								<li>Email:
									<a routerLink="/about">demo@demo.com</a>
								</li>
								<li>Website:
									<a routerLink="/about">www.demo.com</a>
								</li>
							
									
							</ul>
							<ul class="share-social">
								<li>
									<a routerLink="/about">
										<i class="fa fa-facebook-official" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a routerLink="/about">
										<i class="fa fa-twitter-square" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a routerLink="/about">
										<i class="fa fa-google-plus-square" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a routerLink="/about">
										<i class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
					</div>
	
			  </div>
			  <!-- quick-rules -->
			</div>
			<!-- photos-ad -->
		  </div>
		</div>
		<!-- <div>Value: {{ postresumeForm.value | json }}</div> -->
		
		<!-- container -->
	  </section>






















































































